/* Old */

body.theme-green-1.theme_11.product-product .product-single.product-item .buttons .quantity {
    border-color: transparent;
}

body.theme_11.product-product .product-single.product-item .buttons .quantity {
    border-radius: unset;
}
body.theme_11.product-product .product-single.product-item .buttons .quantity {
    display: none;
    justify-content: unset;
    border: unset;
    max-width: 100%;
    flex: 1;
}
.product-product .product-single .buttons .quantity {
    overflow: hidden;
    float: right;
    margin: 10px 0 0 5px;
}


/* New */

body.theme-green-1.theme_11.product-product .product-single.product-item .buttons .quantity_new {
    border-color: unset;
}

body.theme_11.product-product .product-single.product-item .buttons .quantity_new {
    border-radius: 4px;
}
body.theme_11.product-product .product-single.product-item .buttons .quantity_new {
    display: flex;
    justify-content: space-around;
    border: unset;
    max-width: 100%;
    flex: 1;
}
.product-product .product-single .buttons .quantity_new {
    overflow: hidden;
    float: right;
    margin: 10px 0 0 5px;
}

body.theme-green-1.theme_11.product-product .product-single.product-item .buttons .quantity_new i, body.theme-green-1.theme_11.product-product .product-single.product-item .buttons .quantity input {
    color: #00b16a;
}

body.theme_11.product-product .product-single.product-item .buttons .quantity_new i {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

body.theme-green-1.theme_11.product-product .product-single.product-item .buttons .quantity_new i, 
body.theme-green-1.theme_11.product-product .product-single.product-item .buttons .quantity_new input {
    color: #00b16a;
}

body.theme_11.product-product .product-single.product-item .buttons .quantity_new input.quantity_field {
    max-width: 100%;
    padding: 12px 10px;
    max-height: unset;
    height: 100%;
}
body.theme_11.product-product .product-single.product-item .buttons .quantity_new input.minus, body.theme_11.product-product .product-single.product-item .buttons .quantity input.plus, body.theme_11.product-product .product-single.product-item .buttons .quantity input.quantity_field {
    border: unset;
    background-color: transparent;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    max-height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



.product-product .product-single .buttons .btn-cart {
    float: right;
    margin-top: 10px;
    margin-left: 5px;
    max-width: 50%;
    background-color: #232323;
    border-color: #232323;
    border-width: 3px;
    color: #fff;
    height: 50px;
    width: 270px;
    border-radius: 4px;
}

.product-product .product-single .buttons .btn-cart:hover {
    background-color: transparent;
    color: #f1f1f1;
}