/* Header: убираем границы, делаем тень */
body.theme-green-1.theme_11 .wrapper .header .header-wrapper .header-search input.form-control {
  border-color: #0000;
  -webkit-box-shadow: inset 0px 1px 6px rgb(151 150 150 / 39%) !important;
  box-shadow: inset 0px 1px 6px rgb(151 150 150 / 39%) !important;
}

/* Убираем границу перед навигацией */
body.theme-green-1 .header .navigation-wrapper {
    border-top: none;
}

/* Скругляем углы у поиска */
body.theme_11 .wrapper .header .header-wrapper .header-search input {
    border-radius: 30px;
}

/* Верхняя навигация. Меняем фон */
body.theme_11 .wrapper .top-bar {
    background-color: #000000;
}

/* Отображаем иконку авторизации */
.wrapper .header .header-wrapper .header_widgets .header_login {
    padding: 0 20px !important;
  }
  
  body.theme_11 .wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper #cart, body.theme_11 .wrapper .header .header-wrapper .header_widgets .header-cart .cart-wrapper #wishlist {
    color: black !important;
  }
  
  .header_login > .d-none.d-lg-block {
    display: none !important;
  }
  
  .header_login > .d-none.d-sm-block.d-lg-none {
    display: block !important;
  }

  .wrapper .header .header-wrapper .header_widgets {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
  }
  
  body
    > div
    > header
    > div.header-wrapper
    > div.container-fluid
    > div.header_widgets
    > div.header_login
    > a.d-none.d-lg-block {
    display: none !important;
  }
  
  body
    > div
    > header
    > div.header-wrapper
    > div.container-fluid
    > div.header_widgets
    > div.header_login
    > a.d-none.d-sm-block.d-lg-none {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  @media (max-width: 991px) {
    .wrapper .header .header-wrapper .header_widgets {
      position: absolute !important;
    }
  }
  