/* Header: убираем границы, делаем тень */

body.theme-green-1.theme_11 .wrapper .header .header-wrapper .header-search input.form-control {
  border-color: #0000;
  -webkit-box-shadow: inset 0px -2px 3px rgb(151 150 150 / 39%) !important;
  box-shadow: inset 0px -2px 3px rgb(151 150 150 / 39%) !important;
}

/* Убираем границу перед навигацией */

body.theme-green-1 .header .navigation-wrapper {
    border-top: none;
}

/* Скругляем углы у поиска */

body.theme_11 .wrapper .header .header-wrapper .header-search input {
    border-radius: 30px;
}

/* Верхняя навигация. Меняем фон */

body.theme_11 .wrapper .top-bar {
    background-color: #000000;
}

/* Отображаем иконку авторизации */

.wrapper .header .header-wrapper .header_widgets .header_login {
    padding: 0 20px !important;
  }
   
  .header_login > .d-none.d-lg-block {
    display: none !important;
  }
  
  .header_login > .d-none.d-sm-block.d-lg-none {
    display: block !important;
  }

/* Навигация: убираем границы, чёрный фон */

  .header .nav.sf-menu li a small,
.navigation li a small {
  display: none;
}

body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>a:before, body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li[data-nav-part=home]:hover>a:before {
  top: 100% !important;
}

body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu > li.flexy:hover, body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu > li[data-nav-part='home']:hover {
  background: transparent !important;
}

body.theme_11.ltr .wrapper .header nav.navigation ul.nav.sf-menu > li.flexy > a,
body.theme_11.ltr
  .wrapper
  .header
  .navigation-wrapper
  nav.navigation
  ul.nav.sf-menu
  > li[data-nav-part='home']
  > a {
  border: none !important;
}

body.theme-green-1.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul, body.theme-green-1.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul div, body.theme-green-1.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul li {
    background-color: #000000;
}

body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li.flexy:hover>ul>li>a, body.theme_11 .wrapper .header .navigation-wrapper nav.navigation ul.nav.sf-menu>li[data-nav-part=home]:hover>ul>li>a {
    font-weight: 600;
    color: white;
    text-align: right;
    border: none !important;
}

/* Редактируем раздел категорий: убираем границы, задаем стили референса */

body.ru.ltr .wrapper .homefeatured_category {
  margin: 45px 0;
}

body.ru.ltr .wrapper .homefeatured_category > div > h2 {
  text-align: left !important;
  padding-left: 6px !important;
}

body.ru.ltr
  .wrapper
  .homefeatured_category
  > div
  > div
  > div
  > .thumbnail
  .media
  .media-link
  .img-bg
  img {
  padding: 0 !important;
  border-radius: 20px;
}

body.theme_11
  .wrapper
  .homefeatured_category
  > div
  > div
  > div
  > .thumbnail
  .media
  .media-link
  .caption
  .caption-wrapper
  .caption-inner
  h2.caption-title
  span,
body.theme_11
  .wrapper
  .homefeatured_category
  > div
  > div
  > div
  > .thumbnail
  .media
  .media-link
  .caption
  .caption-wrapper
  .caption-inner
  h2.caption-title {

    background: rgb(241, 241, 241) !important;
    border-radius: 5px 5px 35px 35px;
}

body.theme_11
  .wrapper
  .homefeatured_category
  > div
  > div
  > div
  > .thumbnail
  .media
  .media-link
  .caption
  .caption-wrapper
  .caption-inner
  p {
  text-align: left !important;
  font-weight: normal !important;
  line-height: 1.2;
}

body.ru.ltr .wrapper .homefeatured_category > div > div > div {
  width: 100% !important;
  margin-top: 0 !important;
  padding: 0 6px 12px !important;
}

body.ltr .wrapper .homefeatured_category > div > div > div > .thumbnail,
body.ltr .wrapper .homefeatured_category > div > div > div {
  border: none !important;
}

.page-section.subcategories_top {
  display: none;
}

@media only screen and (min-width: 992px) {
  body.theme_11
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner
    span.btn {
    position: absolute !important;
    bottom: 5%;
  }
}

@media only screen and (max-width: 992px) {
  body.theme_11 .wrapper .homefeatured_category > div > div > div {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    margin-bottom: 35px !important;
  }

  body.ru.ltr .wrapper .homefeatured_category {
    margin-bottom: 40px !important;
  }
}

@media (max-width: 1201px) {
  body.theme_11
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner
    h2.caption-title {
    margin-top: 0px !important;
  }
}

@media (max-width: 576px) {
  body.theme_11
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner
    h2.caption-title,
  body.theme_11
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner
    h2.caption-title
    span {
    width: auto;
  }

  body.theme_11
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper,
  body.theme_11
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner {
    padding: 41% 0 0 0 !important;
  }

  body.theme_11 .wrapper .homefeatured_category > div > div > div {
    margin-bottom: 0 !important;
  }

  body.theme_11
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner
    h2.caption-title
    span,
  body.theme_11
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner
    h2.caption-title {
    width: 80%;
    -ms-flex-wrap: nowrap !important
            ;
    flex-wrap: nowrap !important
            ;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: capitalize;
    font-weight: bold;
    color: #000;
    margin: 0px auto;
  }

  body.ru.ltr
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption
    .caption-wrapper
    .caption-inner
    small {
    margin-left: 10px;
  }

  body.ltr.common-home
    .wrapper
    .homefeatured_category
    > div
    > div
    > div
    > .thumbnail
    .media
    .media-link
    .caption {
    position: absolute !important;
  }

  .thumbnail.thumbnail-banner .caption-inner {
    border: none !important;
  }
}

/* Карточка товара: убираем границы */


body.theme_11.product-product .product-single.product-item #tab-description, body.theme_11.product-product .product-single.product-item #tab-description~.table_holder {
    border-top: none !important;
    padding: 20px 0;
}

/* Карточка товара: делаем фото меньше */

.product-product .product-single>div:first-child {
    padding: 25px;
}

/* Цвет футера и отсупы */

body.theme_11 .wrapper footer.footer .footer-widgets {
    background-color: #000000;
}

body.theme_11 .wrapper footer.footer .footer-widgets .widget-categories ul li a, body.theme_11 .wrapper footer.footer .footer-widgets .widget .widget-title {
    color: #00b16a;
}

body .footer .footer-widgets {
    padding: 20px 0;
    margin-top: 0;
    background-color: transparent;
}

body .footer .footer-meta {
    padding: 30px 0;
    background-color: black;
    border-top: none !important;
    position: relative;
}

/* Отображаем футер на всех страницах */

body.theme_11:not(.common-home) footer.footer .footer-widgets>.container {
    height: 100% !important;
    margin: 0 auto;
    padding: 0 15px;
    overflow: visible;
}

/* Граница футера, убираем отступ от карты */

body.theme_11 .wrapper footer.footer {
    border-top: 10px solid #00b16a;
}

 body .content-area {
    padding-bottom: 40px;
}

/* Текст "Категория товаров" - выравниванием по середине */

body.ru.ltr .wrapper .homefeatured_category > div > h2 {
    position: relative;
    display: inline-block;
    text-align: center !important;
}


/* Блок контактов: меняем цвет ссылок */

body a {
    color: #ffffff;
}

/* Страница товара: скругляем кнопки */

body.theme_11.product-product .product-single.product-item .buttons #button-booking, body.theme_11.product-product .product-single.product-item .buttons #button-cart {
    border-radius: 4px;
}

body.theme_11.product-product .product-single.product-item .buttons .btn-wish-list {
    border-radius: 4px;
}

body.theme_11.product-product .product-single.product-item .buttons .quantity {
    border-radius: 4px;
}

/* Главная страница: скругляем кнопки */

body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart .buttons_added.quantity, body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .more_details_btn_wrapper .buttons_added.quantity {
    border-radius: 4px;
}


/* Карта: затемнение при наведении  */

#home > div > div.content-area > div.mymap_section > iframe:hover {

filter: none !important;
transition: all .3s ease;

}

/* Подсвечиваем ссылки */

body.theme-green-1 .top-bar ul a:hover .fa {
  color: #00b16a !important;
}

body.theme-green-1 .top-bar ul a span.colored, body.theme-green-1 a {
  color: #000;
}

/* Убираем +/- на главной странице после добавления товара в корзину */

body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart .buttons_added.quantity i, body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .more_details_btn_wrapper .buttons_added.quantity i {
  padding: 12px;
  display: none;
}

/* Скрываем лишнее из кнопки после добавления в корзину */

body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart .buttons_added.quantity input.quantity_field, body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .more_details_btn_wrapper .buttons_added.quantity input.quantity_field {
  display: none;
}

/* Делаем кнопку по размеру */

body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .add_to_cart .buttons_added.quantity, body.theme_11 .wrapper .page-section .products.grid .product-item .thumbnail .price_actions .more_details_btn_wrapper .buttons_added.quantity {
  border-radius: 4px;
  height: 42px;
}